<div class="sixteen columns">
  <div id="notices">
        <% if flash[:notice] -%>
          <div class="notice"><%= flash[:notice] %></div>
        <% end -%>
        <% if flash[:error] -%>
          <div class="error"><%= flash[:error] %></div>
        <% end -%>
      </div>
  <h3>Great Success!</h3>
  <p>You are all set.  Now we just need some snow.  When it does snow at least <%= @shredder.inches %>, we'll let you know!</p>
</div>
