<div class="sixteen columns">
  <h1 class="home">Cone Patrol &ndash; Text Powder Alerts for Mt. Bachelor: 541-516-1769</h1>
  <h2>Super Easy Sign Up!</h2>
  <p>To start receiving SMS powder alerts for Mt. Bachelor, simply text the number of inches you would like to be alerted for to <span class="boldy">541-516-1769</span>.</p>
  <p>For example, if you want a text each time it snows 4 or more inches overnight, you would text <em><strong>4</strong></em> to <span class="boldy">541-516-1POW</span>!</p>
  <p>Then when it snows four or more inches, you get a text right away!  Rad huh?!  You can opt-out at anytime by texting <span class="boldy">STOP</span> to the powder robot too.</p>
  <h2>Android Application</h2>
  <p>If you prefer to receive push notifications on your Android phone, download our free application from the Google Play Store by clikcing the image below:</p>
  <p class="play"><a href="https://play.google.com/store/apps/details?id=com.conepatrol.android"><img src="https://play.google.com/static/client/images/435140425-play_logo.png" class="play"></a></p>
  <h2>NOAA Forecast Alerts</h2>
  <p>New for the 2012-2013 Season!  You can now also be alerted when NOAA is forecasting a certain amount of snow for Bachelor.  This will help you plan your "siiiiiick" days accordingly.  Read up on the details in <a href="http://blog.conepatrol.com/noaa-forecast-alerts">this blog post &raquo;</a>
  <h2>Show Your Stoke &ndash; Conepatrol T-Shirts</h2>
  <p>Do you patrol the cone?  Shred the sick gnar?  Show your cone pride with this years limited edition Heather Tee.  American made t-shirt will show all the homies at the pub just how rad you are up on the cone.  Only $19.95 all proceeds going to my new ski fund :).  Click the image below or <a href="http://teespring.com/conepatrol">HERE</a> to check it out!</p>
  <p class="play"><a href="http://teespring.com/conepatrol"><img src="http://teespring.com/uploads/18516/shirtFront.jpg?v=2012-12-23%2014:11:05"></a></p>
  <h3 class="aside">About Cone Patrol</h3>
  <p>I heart skiing.  I double heart skiing powder.  "Cone Patrol" is a term a ski buddy gave to hiking the cone at <a href="http://mtbachelor.com">Mt. Bachelor</a> prior to opening for freshiez.  Born from that tradition is <em>conepatrol.com</em>, a way for you &ndash; the fellow shredder, to get powder alerts sent to your phone via text.</p>
  <p>So ditch the snow phone, and setup a <em>conepatrol</em> alert to shout at you when the goods have dropped.  See you on the cone! &ndash; Timmy</p>
  <p>If you need help with anything powder alert related, please contact us on Twitter or over on Facebook</p>
  <p>Conepatrol is sponsored by the fine folks at <a href="http://mtbachelor.com">Mt. Bachelor</a>.</p>
  
</div>
