<div class="sixteen columns">
  <h1 class="home">Cone Patrol &ndash; Text Powder Alerts for Mt. Bachelor: 541-516-1769</h1>
  <div class="highlight">
    <div class="shimmed">
      <h2 class="home">Super Easy Sign Up!</h2>
      <p>To start receiving SMS powder alerts for Mt. Bachelor, simply text the number of inches you would like to be alerted for to <span class="boldy">541-516-1769</span>.</p>
      <p>For example, if you want a text each time it snows 4 or more inches overnight, you would text <em><strong>4</strong></em> to <span class="boldy">541-516-1POW</span>!</p>
      <p>Then when it snows four or more inches, you get a text right away!  Rad huh?!  You can opt-out at anytime by texting <span class="boldy">STOP</span> to the powder robot too.</p>
    </div>
  </div>
  <h2 class="home">About Cone Patrol</h2>
  <p>I heart skiing.  I double heart skiing powder.  "Cone Patrol" is a term a ski buddy gave to hiking the cone at <a href="http://mtbachelor.com">Mt. Bachelor</a> prior to opening for freshiez.  Born from that tradition is <em>conepatrol.com</em>, a way for you &ndash; the fellow shredder, to get powder alerts sent to your phone via text.</p>
  <p>So ditch the snow phone, and setup a <em>conepatrol</em> alert to shout at you when the goods have dropped.  See you on the cone! &ndash; Timmy</p>
  
</div>
