/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div#header{ 
  font-size: 80px;
  color: #fff;
  font-family: 'Lato', sans-serif; 
  text-align: center;
  text-shadow: -4px 4px 0 #3B679E;
}

div#main{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

ul#steps{
  list-style-type: none;
  width: 608px;
  display: block;
  margin: 80px auto;
  padding: 0;
}

.grad{
  background: #fff;
  background: -moz-linear-gradient(center top , #ccc 0%, #fff 100%) no-repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff');
  background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#fff));
  border-radius:8px;
}

div.stat{ width: 100%; margin: 5px auto 5px auto; border-top: 1px solid #ccc; padding: 5px; text-align: center }
  div.stat span.title { display: block; width: 100%; text-transform: uppercase; font-weight: bold }
  div.stat a { text-decoration: none }
  div.stat span.value { font-family: 'Lato', sans-serif; text-shadow: 2px 2px 0 #ccc; font-size: 64px; display: block; line-height: 84px; }
  div.sub{ text-align: center }
  div.sub a { color: #fff; text-decoration: none }
  span.desc { display: block; width: 100%; font: 22px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold }
  span.threshold { text-align: center; display: block; width: 100%; font-family: 'Lato', sans-serif; text-shadow: 2px 2px 0 #333; font-size: 84px; display: block; line-height: 84px; }
  span.area { text-align: center; display: block; width: 100%; font-weight: bold }

textarea.message { margin-bottom: 0 }
span.countdown{ display: block; width: 100%; clear: left; margin-bottom: 10px; font-size: 12px }
div#preview-window{ padding: 10px; font-size: 12px; background: #ccc; font-weight: bold }

body{ background: #F6F6F6 }


