/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div#header{ 
  font-size: 80px;
  color: #fff;
  font-family: 'Lato', sans-serif; 
  text-align: center;
  text-shadow: -4px 4px 0 #3B679E;
}

div#main{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

ul#steps{
  list-style-type: none;
  width: 608px;
  display: block;
  margin: 80px auto;
  padding: 0;
}

.grad{
  background: #fff;
  background: -moz-linear-gradient(center top , #ccc 0%, #fff 100%) no-repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff');
  background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#fff));
  border-radius:8px;
}

